<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor/grassbehind.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{960,134}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{960,134}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>floor/grassfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{960,70}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{960,70}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>hud/banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,290},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>monkey/arms_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,460},{100,148}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{100,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,362},{96,146}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{96,146}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,208},{132,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{132,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/idle/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,208},{98,152}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{98,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/jump/left.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,460},{92,148}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{92,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/jump/right.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,610},{92,148}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{92,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/push/left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,208},{108,156}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{108,156}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/push/left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,460},{108,156}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{108,156}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/push/right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,208},{108,156}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{108,156}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/push/right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,208},{110,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{110,156}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/walk/left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,460},{92,154}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{92,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/walk/left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,366},{92,154}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{92,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/walk/right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,366},{92,154}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{92,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey/walk/right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,366},{92,154}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{92,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>numbers/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,616},{62,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{62,82}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,652},{50,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{50,80}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,372},{60,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{60,80}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,454},{58,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{58,82}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,610},{64,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{64,80}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,208},{56,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{56,80}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,618},{62,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{62,82}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,290},{60,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{60,80}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,618},{62,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{62,82}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>numbers/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,208},{62,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{62,80}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>objects/backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{159,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{159,190}}</string>
                <key>sourceSize</key>
                <string>{179,212}</string>
            </dict>
            <key>objects/banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,487},{163,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{163,111}}</string>
                <key>sourceSize</key>
                <string>{183,127}</string>
            </dict>
            <key>objects/bananabunch.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,460},{155,110}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{155,110}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>objects/canteen.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,617},{85,130}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{85,130}}</string>
                <key>sourceSize</key>
                <string>{119,156}</string>
            </dict>
            <key>objects/hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,461},{218,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{218,126}}</string>
                <key>sourceSize</key>
                <string>{244,150}</string>
            </dict>
            <key>objects/pineapple.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,208},{101,251}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{101,251}}</string>
                <key>sourceSize</key>
                <string>{121,267}</string>
            </dict>
            <key>objects/statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{184,277}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{184,277}}</string>
                <key>sourceSize</key>
                <string>{210,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jungle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{976,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a661518d327a0f7e366635b2d9e45b9$</string>
            <key>textureFileName</key>
            <string>jungle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
